
        // Custom variables

$primary: #12B5A3;
$secondary: #c8c6c0;
$dark:#2A4B50;
$black:  #292222;
$font-family-sans-serif: "Poppins", sans-serif !default;
$font-family-serif: "League Spartan", serif !default;

        // Custom Bootstrap overrides

@import "../node_modules/bootstrap/scss/bootstrap";